// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$background: #2E414F;
$background: white;
$text-color: #A4B5C2;
$text-color: #10171C;

@import "icons/flags";
@import "icons/teamspeak3";
@import "modules/viewer";

body {
	background: url(/img/low_poly.png);
	background-size: cover;
    font:normal 100 17px/1.0 'Roboto',Sans-Serif;
}

